<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminPasswordServlet</servlet-name>
  	<display-name>AdminPasswordServlet</display-name>
  	<description></description>
  	<servlet-class>com.flyaway.servlet.AdminPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminPasswordServlet</servlet-name>
  	<url-pattern>/AdminPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>
